<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
<body>
    
    <h3>Properties Edit Page</h3>

    <div class="updatepage-container"><img id="properties-img-showpage" src="<%= properties.img%>" width="400px"/></div>
    <form action="/properties/<%= properties._id %>?_method=PUT" method="POST"> <br><br>
        <fieldset>
        <label>Image</label>
        <input class="editpage" type="text" name="img" value="<%= properties.img %>"/><br>
        <label>Address</label>
        <input class="editpage" type="text" name="address" value="<%= properties.address %>"/><br>
        <label>Sales Price</label>
        <input class="editpage" type="text" name="sales_price" value="<%= properties.sales_price %>"/><br>
        <label>Beds</label>
        <input class="editpage" type="number" name="beds" value="<%= properties.beds %>"/><br>
        <label>Baths</label>
        <input class="editpage" type="number" name="baths" value="<%= properties.baths %>"/><br>
        <label>Square Feet</label>
        <input class="editpage" type="number" name="square_feet" value="<%= properties.square_feet %>"/><br>
        <label>Property Manager</label>
        <input class="editpage" type="text" name="property_manager" value="<%= properties.property_manager %>"/><br>
        <label>Sold</label>
        <input type="checkbox" name="status" <%= properties.status ? "checked" : "For Sale" %>/><br>
        <input class="submit-button" type="submit" value="UPDATE PROPERTY" />
    </fieldset>
    </form>
</div>
    
</body>
</html>