<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <main>
            <div class="flex-container">
            <% for (let i = 0; i < properties.length; ++i) { %>
                <div class="Properties">
                    <a href="/properties/<%= properties[i]._id %>" >
                        <img class="properties-img" src="<%=properties[i].img%>">
                        <h4><%= properties[i].address %></h4>
                        <h4><%= properties[i].status ? "For Sale" : "Not For Sale" %></h4>
                        </a>
                        
                    </div>
                </div>
            <% } %>
        </div>
    </main>
      
    
    </body>
    </html>