<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
<body>

    

    <div class="showcontainer">
        <div id="info">
            <h3>Properties Show Page</h3>
            <img id="properties-img-showpage" src="<%= properties.img%>" width="300px" /><br><br>
            <p>Address: <%= properties.address %></p>
            <p>Sales Price: <%= properties.sales_price %></p>
            <p>Beds: <%= properties.beds %></p>
            <p>Baths: <%= properties.baths %></p>
            <p>Square Feet: <%= properties.square_feet %></p>
            <p>Property Manager: <%= properties.property_manager %></p>
            <p>For Sale?: <%= properties.status %></p>

    <div class="showcontainer">
        <div id="buttons">
            <a href="/properties/<%= properties._id %>/edit"><button>Edit</button></a>
            <form action="/properties/<%= properties._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
        </div>
    </div>

</body>
</html>